---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>


  {% if site.disqus_shortname and page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      var disqus_title      = {{ page.title | jsonify }};
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

  <br>
  <hr>
  <br>

  If you found this useful, please cite this as:

  {% capture citation_quote -%}
  > {{ site.last_name }}, {{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} ({{ page.date | date: "%b %Y" }}). {{ page.title }}. {% if site.title != 'blank' %}{{ site.title }}. {% endif %}{{ site.url }}.
  {%- endcapture %}
  {{ citation_quote | markdownify }}

  <p>or as a BibTeX entry:</p>

  {% capture citation_code -%}
  ```bibtex
  @article{ {{- site.last_name | downcase }}{{ page.date | date: "%Y" }}{{ page.title | slugify }},
    title   = { {{- page.title -}} },
    author  = { {{- site.last_name }}, {{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif -%}},
    {%- if site.title != 'blank' %}journal = { {{- site.title -}} },{% endif %}
    year    = { {{- page.date | date: "%Y" -}} },
    month   = { {{- page.date | date: "%b" -}} },
    url     = { {{- site.url }}{{ page.url -}} }
  }
  ```
  {%- endcapture %}
  {{ citation_code | markdownify }}


  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --group_by none --cited_in_order %}
    </div>
  {% endif %}
  
</div>
